/* Material icons */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

/* Fonts */
@font-face {
  font-family: "Poppins";
  src: url(./fonts/poppins-v20-latin-regular.woff2);
}

/* CSS reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom styles */
:root {
  --normal-text-color: #222;
  --muted-text-color: #444;
  --active-text-color: #000;
  --base-color: #fff;
  --light-fade-color: rgb(0 0 0 / 0.05);
  --fade-color: rgb(0 0 0 / 0.1);
  --heavy-fade-color: rgb(0 0 0 / 0.5);
  color-scheme: normal;
}

:root[data-theme="light"] {
  --normal-text-color: #222;
  --muted-text-color: #444;
  --active-text-color: #000;
  --base-color: #fff;
  --light-fade-color: rgb(0 0 0 / 0.05);
  --fade-color: rgb(0 0 0 / 0.1);
  --heavy-fade-color: rgb(0 0 0 / 0.5);
  color-scheme: light;
}

:root[data-theme="dark"] {
  --normal-text-color: #ddd;
  --muted-text-color: #bbb;
  --active-text-color: #fff;
  --base-color: #222;
  --light-fade-color: rgb(255 255 255 / 0.05);
  --fade-color: rgb(255 255 255 / 0.1);
  --heavy-fade-color: rgb(255 255 255 / 0.5);
  color-scheme: dark;
}

* {
  transition: all 0.1s;
}

body {
  display: grid;
  grid-template:
    "header header" 64px
    "aside  main"   1fr / 300px 1fr;
  min-height: 100vh;
  background-color: var(--base-color);
  font-family: "Poppins";
  color: var(--normal-text-color);
}

p, span, label, h2, h3 {
  color: var(--normal-text-color);
}

header {
  grid-area: header;
  background-color: var(--fade-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h1 {
  margin-left: 16px;
  color: var(--active-text-color);
}

#themeSwitch {
  margin-right: 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

#themeSwitch > span {
  color: var(--muted-text-color);
}

#themeSwitch > span:hover {
  color: var(--active-text-color);
}

aside {
  grid-area: aside;
  background-color: var(--light-fade-color);
}

aside > h2 {
  margin-left: 16px;
  margin-top: 16px;
}

main {
  grid-area: main;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

#projects li > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 36px;
  margin: 12px;
  padding: 0 8px;
  cursor: pointer;
}

#projects li > div.active {
  background-color: var(--light-fade-color);
}

#projects li > div > span {
  overflow: hidden;
}

#projects li > div > button {
  display: none;
  padding: 0;
  background-color: transparent;
  border: none;
}

#projects li > div > button > span {
  color: var(--muted-text-color);
}

#projects li > div > button > span:hover {
  color: var(--active-text-color);
}

#projects li > div:hover {
  background-color: var(--light-fade-color);
}

#projects li > div:hover > button {
  display: flex;
  align-items: center;
}

button[data-opens="addProjectDialog"] {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: transparent;
  border: none;
}

button[data-opens="addTodoDialog"] {
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: transparent;
  border: none;
}

button[data-opens="addProjectDialog"]:hover,
button[data-opens="addTodoDialog"]:hover {
  transform: scale(1.05);
}

#todos li > div {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px;
  padding: 12px;
  background-color: var(--fade-color);
  outline: 1px solid var(--base-color);
  cursor: pointer;
}

#todos li > div:hover {
  outline: 1px solid var(--heavy-fade-color);
}

#todos li > div > p {
  margin-left: auto;
  flex-shrink: 0;
}

#todos li > div > button {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}

#todos li > div > button > span {
  color: var(--muted-text-color);
}

#todos li > div > button > span:hover {
  color: var(--active-text-color);
}

.done {
  text-decoration: line-through;
}

dialog {
  top: 10vh;
  max-height: 80vh;
  margin: 0 auto;
  background-color: var(--base-color);
  border: 2px solid var(--heavy-fade-color);
}

dialog::backdrop {
  backdrop-filter: blur(4px);
}

dialog input,
dialog select {
  margin-bottom: 16px;
  border: 1px solid var(--heavy-fade-color);
  background-color: var(--base-color);
  color: var(--normal-text-color);
}

dialog > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

dialog > div:first-of-type > button {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  align-self: flex-start;
}

dialog > form {
  display: flex;
  flex-direction: column;
}

dialog input {
  width: 300px;
}

dialog label {
  font-size: 0.9rem;
}

hr {
  margin: 24px 0;
}

.dialogButtons {
  display: flex;
  gap: 6px;
}

.dialogButtons > :first-child {
  margin-left: auto;
}

#deleteProjectForm > button {
  background-color: transparent;
  border: 2px solid red;
  color: red;
}

#deleteProjectForm > button:hover {
  background-color: red;
  color: white;
}

.material-symbols-outlined {
  user-select: none;
}

#detailsDialog {
  width: 400px;
}

#detailsDialog > div[id] {
  display: flex;
  flex-direction: column;
}

#detailsDialog > div[id]:not(:last-child) {
  margin-bottom: 16px;
}

#detailsDialog > div[id] > span:first-child {
  color: var(--muted-text-color);
  font-size: 0.9rem;
}